.title {
  text-align: center;
}

.contactDetails {
  margin: 0 auto;

  > * {
    margin-bottom: 1rem;
  }
}

.formButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
